body {font-family: Garamond, serif;}
body {background-color: #FFCAD4}
p {color: #9d8189}
h1, h2 {color: #f4acb7; }
a:link {color: #D8e2dc}
nav {background: color #ffe5d9;}
nav a:hover{background-color: #f4acb7;}
nav :link{color: #9d8189}
nav a{color:#ffe5d9}
nav {padding: 10px;}
nav {margin-bottom: 30px;}
.quote{float: right;}
.indeximage{float: left; margin: 20px; max-width: 100%;}
.Part1 {display: flex; padding: 20px; background-color:white; border-radius: 1em; margin-bottom: 20px; justify-content: space-around;}
.Part2 {display:flex; padding:20 px; background-color: whitesmoke; border-radius: 3em; justify-content: space-around; flex-wrap:wrap;}
.address {margin: 30px;}
.Form {margin: 30px;}
h1 {text-align: center;}
.skills {display: flex;
flex-basis: 75%;
justify-content: space-evenly;}
.sidebar {display: flex;
background-color: wheat; 
border-radius: 2em;
margin: 2em;
padding: 0.5em;
flex-basis: 25%;}
.flexbox2 {display: flex;
padding: 2em;
margin: 2em;}
.section {margin: 5em;}
@media screen and (max-width:800px){
    nav a{display: block;}
    nav a span{display:none;}
}
