body {font-family: Garamond, serif;}
body {background-color: #FFCAD4}
p {color: #9d8189}
h1, h2 {color: #f4acb7; }
a:link {color: #D8e2dc}
nav {background: color #ffe5d9;}
nav a:hover{background-color: #f4acb7;}
nav :link{color: #9d8189}
nav a{color:#ffe5d9}
nav {padding: 10px;}
nav {margin-bottom: 30px;}