
details {
  border: 1px solid #ccc;
  border-radius: 0.5em;
  margin: 0.5em 0;
  padding: 0.5em;
  background: #F0F7F0;
}
details[open] {
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}
.dropdown-content{
    max-height: 0; 
    overflow: hidden;
    transform: translateY(-5px);
    opacity: 0;
    transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}
details[open] .dropdown-content {
  max-height: 500px; 
  opacity: 1;
  transform: translateY(0);
}
h1, h2{
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "wdth" 100,
    "GRAD" 0,
    "XOPQ" 96,
    "XTRA" 468,
    "YOPQ" 79,
    "YTAS" 750,
    "YTDE" -203,
    "YTFI" 738,
    "YTLC" 514,
    "YTUC" 712;
}
.navflex {background-color: #adc199;
    display: flex;
    font-family: 'Roboto Condensed';
    border-radius: 3em;
    padding: 0.5em;
    justify-content: space-around;
    align-items:center; 
}
.homelink, .explorelink, .learnlink, .protectlink{ 
    color: #5a4343;
    text-decoration: none;
}
body {background-color: #e4ebe4;
font-family:'Anton';
color:#514343;
}

.home-protect{
    display:flex;
    flex-wrap:wrap;
}
.headerhome{
    display:flex;
    background-color: #d3e6f5;
    flex-wrap: wrap;
}
.greenlakeshome{
    width:400px;
    height:auto;
    padding: 5em;
}
.headercontainer2{
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.explore-title{
    width:100%;
    background-color: #ca9a85;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
}
.explore-image{
    width: 100%;
    height: auto;
    flex: 1 0 50%;
    display:block;
}
.explore-leftcolumn{
    padding:5em;
    float: none;
    display:flex;
    flex-direction: column;
    flex: 1 0 50%;
}
.explorecontainer{
    display: flex;
    flex-direction:column;
}
.explore-text{
    display:flex;
    flex: 1 0 50%;
    flex-direction: row;;
}
.explore-mainflex{
    display: flex; 
    flex-direction: row;
    min-width:0; 
}

.learncontainer{
    flex-direction:column;
    min-width: 0;
}
.learn-mainflex{
    display: flex; 
    flex-direction: row;
    min-width:0;
}
.learn-title{
    width:100%;
    background-color: #ca9a85;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
}
.learn-image{
    width: 100%;
    height: auto;
    flex: 1 0 10%;
    display:block;
}
.learn-text{
    display:flex;
    flex: 1 0 50%;
    flex-direction: row;
    min-width: 0;
}
.learn-rightcolumn{
    padding: 5em;;
    float: none;
    display:flex;
    flex-direction: column;
    flex: 1 0 50%;
    margin: 2em;
}
.protectcontainer{
    flex-direction:column;
    display: flex;
    min-width:0;
}
.protect-mainflex{
    display: flex; 
    flex-direction: row;
    min-width:0;
}
.protect-title{
    width:100%;
    background-color: #ca9a85;
    margin: 0;
    padding: 0;
}
.protect-leftcolumn{
    padding:5em;
    float: none;
    display:flex;
    flex-direction: column;
    flex: 1 0 50%;
    margin: 2em;
}
.protect-text{
    display:flex;
    flex: 1 0 50%;
    flex-direction: row;
    min-width: 0;
}
.protect-image{
    width: 100%;
    height: auto;
    flex: 1 0 20%;
    display:block;
}
img{
    height: auto;
    display: block;
}

@media screen and (max-width:800px){
    nav a{display: block;}
    nav a span{display:none;}
    .navflex {flex-direction: column;}
    .navflex {padding: 0;}
  .icons {
    flex-direction: column !important;
    justify-content: center;
    margin:3em;
    padding:0.5em;
    flex-wrap: wrap;
    display: flex;
    gap:1em;
  }
  .learn-mainflex, .protect-mainflex, .explore-mainflex{
    flex-wrap: nowrap;
    min-width: 0;
    display:flex;
    flex-direction: column;
    gap: 1em;
  }
  .protect-leftcolumn, .explore-leftcolumn, .learn-rightcolumn{
    padding: 2em;
    display: flex;
    flex: flex-wrap;
    flex-direction: column;
    gap:2em;
  }
  .explore-image, .learn-image, .protect-image{
    flex: 1 1 100% !important;
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .protect-leftcolumn{
    margin: 10em 0;
    gap:0em;
  }
}
img {max-width: 100%;}
.icons{
    justify-content: space-evenly;
    padding:1em;
    margin:2em;
    flex-direction: row;
    flex: 1 0 50%;
    display: flex;
}
a, a:visited {text-decoration:none; color: #514343;}
.GLicon, .BPicon, .OLicon, .prevent-icon, .terrestrial-icon, .aquatic-icon, .statewide-icon, .oil-icon, .solar-icon{
    background-color:#d8d3a3;
    border-radius: 0.5em;
    padding:2em;
    justify-content: center;
    flex-direction: column;
    margin: 2em;
    width: 5em;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.3);
}





